@page
@model CreateAlbum

<div>
    <form method ="Post">
        <input asp-for="Album.Id"/>
        <input asp-for="Album.Name" />
        <input asp-for="Album.SongYear" />
        <input asp-for="Album.SingerId" />
        <input class="btn" type="submit" value="Add"/>
    </form>
</div>
