@page
@model CreateAlbum

<div>
    <form method ="Post">
        <div class="mb-4">
            <label asp-for="Album.Name" class="form-label">Name</label>
            <input asp-for="Album.Name" type="text" class="form-control" placeholder="Album Name: 24K Magic"/>
        </div>
        <div class="mb-4">
            <select asp-for="SingerId" asp-items="Model.Singers" required>
                <option value="">Choose Singer</option>
            </select>
        </div>
        <input class="btn btn-outline-primary" type="submit" value="Add" />
    </form>
</div>
