@page
@model CreateAlbum

<div>
    <form method ="Post">
        <input asp-for="Album.Id"/>
        <input asp-for="Album.Name" />
        <div class="mb-4">
            <select asp-for="SingerId" asp-items="Model.Singers" required>
                <option value="">Выберите артиста</option>
            </select>
        </div>
        <input class="btn" type="submit" value="Add"/>
    </form>
</div>
