@page
<!--//обращение к Index.cshtml.cs
-->
@model MusicWebProject.Pages.Albums.IndexModel

<!--
    <></> - теги
//thead - наименования столбцов (условно), tbody - сами строки
th tr -почитать
bootstrap
-->
<div>
<a type="button" class="btn btn-outline-primary" asp-page="/Albums/CreateAlbum"> Add Singer Album </a>
<form method="get"> 
    <input type="text" asp-for="SearchingString"/>
    <button type="submit" class="btn btn-outline-primary">
        Search
    </button>
</form>
</div>
<div>
    <table class="table">
        <thead class="table-primary">
            <tr>
                <th>Name</th>
                <th>Singer</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var album in Model.Albums)
            {

                <tr class="table-light">

                    <td>@album.Name</td>
                    <td>@album.Singer.Name</td>

                    <td>
                        <form method="post">
                            <button class="btn btn-outline-primary" asp-route-id="@album.Id">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

