@page
<!--//обращение к Index.cshtml.cs
-->
@model MusicWebProject.Pages.Albums.IndexModel

<!--
    <></> - теги
//thead - наименования столбцов (условно), tbody - сами строки
th tr -почитать
bootstrap
-->
<a type="button" class="btn btn-outline-primary" asp-page="/Albums/CreateAlbum"> Add Singer Album </a>
<form method="get"> 
    <input type="text" asp-for="SearchingString"/>
    <button type="submit" class="btn btn-outline-primary">
        Search
    </button>
</form>
<div>
    <table class="table">
        <thead>
            <tr>
                <th class="table-primary">ID</th>
                <th class="table-primary">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var album in Model.Albums)
            {
            
                <tr>
                    <td class="table-light">@album.Id</td>
                    <td class="table-light">@album.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>

