@page
@model CreateSongs

<div class="d-grid">
    <form method="Post">
       
        <div class="mb-4">
            <input asp-for="Song.Name" />
            <label asp-for="Song.Name" class="form-label">Name</label>
        </div>
        
       
        <div class="mb-4">
            <input asp-for="Song.SongYear" />
            <label asp-for="Song.SongYear" class="form-label">SongYear</label>
        </div>
        <div class="mb-4">
            <select asp-for="GenreId" asp-items="Model.Genres" required>
                <option value="">Выберите стиль</option>
            </select>
        </div>
        <div class="mb-4">
            <select asp-for="SingerId" asp-items="Model.Singers" required>
                <option value="">Выберите артиста</option>
            </select>
        </div>
        <div class="mb-4">
            <select asp-for="AlbumId" asp-items="Model.Albums" required>
                <option value="">Выберите альбом</option>
            </select>
        </div>
        
       
        <input class="btn" type="submit" value="Add" />
    </form>
</div>
