@page
@model MusicWebProject.Pages.Songs.IndexModel

<a class="btn" asp-page="/Songs/CreateSong"> Add Song </a>
<form method="get">
    <input type="text" asp-for="SearchingString"/>
    <button type="submit" class="btn">
        Search
    </button>
</form>
<div>
    <table class="table">
        <thead>
            <tr>
                <th class="table-primary">ID</th>
                <th class="table-primary">Name</th>
                <th class="table-primary">Singer</th>
                <th class="table-primary">Album</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var song in Model.Songs)
            {
                <tr>
                    <td class="table-light">@song.Id</td>
                    <td class="table-light">@song.Name</td>
                    <td class="table-light">@song.Singer.Name</td>
                    <td class ="table-light">@song.Album.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>