@page
@model CreateSinger

<div>
    <form method ="Post">
        <input asp-for="Singer.Id"/>
        <input asp-for="Singer.Name" />
        <input class="btn" type="submit" value="Add"/>
    </form>
</div>
