@page
<!--//обращение к Index.cshtml.cs
-->
@model MusicWebProject.Pages.Singers.IndexModel

<!--
    <></> - теги
//thead - наименования столбцов (условно), tbody - сами строки
th tr -почитать
bootstrap
-->
<a class="btn" asp-page="/Singers/CreateSinger"> New Singer </a>
<form method="get"> 
    <input type="text" asp-for="SearchingString"/>
    <button type="submit" class="btn">
        Search
    </button>
</form>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var singer in Model.Singers)
            {
                <tr>
                    <td>@singer.Id</td>
                    <td>@singer.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>

