@page
@model CreateCollection

<div>
    <form method="Post">
        <div class="mb-4">
            <label asp-for="Collection.Name" class="form-label">Name</label>
            <input asp-for="Collection.Name" type="text" class="form-control" placeholder="Collection Name: For Fall" />
        </div>
        <div class="mb-4">
            <select asp-for="GenreId" asp-items="Model.Genres" required>
                <option value="">Choose Genre</option>
            </select>
        </div>
        <div class="mb-4">
            <select asp-for="SongIds" multiple="multiple" asp-items="Model.Songs" required>
                <option value="">Choose Songs</option>
            </select>
        </div>
        <input class="btn btn-outline-primary" type="submit" value="Add" />
    </form>
</div>
