@page

@model MusicWebProject.Pages.MusicCollections.IndexModel

<div>
<a type="button" class="btn btn-outline-primary" asp-page="/MusicCollections/CreateCollection">Create Collection</a>
<form method="get"> 
    <input type="text" asp-for="SearchingString"/>
    <button type="submit" class="btn btn-outline-primary">
        Search
    </button>
</form>
</div>
<div>
    <table class="table">
        <thead class="table-primary">
            <tr>
                <th>Name</th>
                <th>Genre</th>
                <th>Song</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var musiccollection in Model.MusicCollections)
            {
                <tr class="table-light">
                    <td>@musiccollection.Name</td>
                    <td>@musiccollection.Genre.Name</td>
                   
                    <td>
                        <form method="post">
                            <button class="btn btn-outline-primary" asp-route-id="@musiccollection.Id">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

