@page

@model MusicWebProject.Pages.MusicCollections.IndexModel


<a asp-page="/MusicCollections/CreateCollection"> Create New Collection </a>
<form method="get"> 
    <input type="text" asp-for="SearchingString"/>
    <button type="submit" class="btn btn-outline-primary">
        Search
    </button>
</form>
<div>
    <table class="table">
        <thead>
            <tr>
                <th class="table-primary">ID</th>
                <th class="table-primary">Name</th>
                <th class="table-primary">Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var collection in Model.Collections)
            {
                <tr>
                    <td class="table-light">@collection.Id</td>
                    <td class="table-light">@collection.Name</td>
                    <td class="table-light">@collection.Genre</td>
                </tr>
            }
        </tbody>
    </table>
</div>

