@page
@model CreateGenre

<div>
    <form method ="Post">
        <input asp-for="Genre.Id"/>
        <input asp-for="Genre.Name" />
        <input asp-for="Genre.Albums" />
        <input class="btn" type="submit" value="Add"/>
    </form>
</div>
