@page

@model MusicWebProject.Pages.Genres.IndexModel


<a class="btn" asp-page="/Genres/CreateGenre"> New Genre </a>
<form method="get"> 
    <input type="text" asp-for="SearchingString"/>
    <button type="submit" class="btn">
        Search
    </button>
</form>
<div>
    <table class="table">
        <thead>
            <tr>
                <th class="table-primary">ID</th>
                <th class="table-primary">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genre in Model.Genres)
            {
                <tr>
                    <td class="table-light">@genre.Id</td>
                    <td class="table-light">@genre.Name</td>
                    <td class="table-light">@genre.Albums</td>
                </tr>
            }
        </tbody>
    </table>
</div>

