@page
@model MusicWebProject.Pages.Genres.IndexModel


<a class="btn" asp-page="/Genres/CreateGenre"> New Genre </a>
<form method="get"> 
    <input type="text" asp-for="SearchingString"/>
    <button type="submit" class="btn">
        Search
    </button>
</form>
<div>
    <table class="table">
        <thead class="table-primary">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Delete</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var genre in Model.Genres)
            {
                <tr class ="table-light">
                    <td>@genre.Id</td>
                    <td>@genre.Name</td>
                    <td>
                        <form method="post">
                            <button class="btn btn-outline-primary" asp-route-id="@genre.Id">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

