@page
@model PrivacyModel
@{
    ViewData["Title"] = "Recomendation";
}
<h1>@ViewData["Title"]</h1>

<p>
    1. Use this site only for OOP.project
    
</p>
<p>
  
    2. Don't copy any information, be sure it won't help you
</p>
